@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    src: url(/fonts/proxima-nova/400-regular.woff) format("woff");
  }
  @font-face {
    font-family: Proxima Nova;
    font-weight: 500;
    src: url(/fonts/proxima-nova/500-medium.woff) format("woff");
  } */
  body {
    @apply flex;
    @apply min-h-screen;
    @apply m-0;
    @apply bg-slate-100;
  }

  #__next {
    @apply w-screen;
  }
}

/* Prevent copy popup after long press on iphone */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* DaisyUI overrides */
.btn {
  @apply rounded;
  @apply text-base;
}
