@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply flex;
    @apply min-h-screen;
    @apply m-0;
  }

  #__next {
    @apply w-screen;
  }
}

/* Prevent copy popup after long press on iphone */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
